$b:#000000;
$w:#FFFFFF;
$v:#87509c;
$dv:#643a79;
$m0:0 auto;
$c:center;
$o:#eb7d4b;
$jn:#17c2a4;
$lg:#14a58c;
$la:#e7f1f8;
$bor:#3c4761;
$lg2:#c8d9e5;
$ic:#bdd1df;
$db:#3c4761;
$humancolor:#FEDC9E;
$dhuman:#e5c37f;
$green:#17c2a4;
$dgreen:#14a58c;
$pink:#d74680;
$dpink:#b73c6d;
$yel:#ffdd99;
$blu:#3c5499;
$drblu:#273a71;
$liblu:#30bae7;