#six{
	background:$w;
	h1{
	color:$db;
	}
	.line{
    	border-bottom:4px solid $lg2;
	    width:10%;
	    margin:$m0;
	    margin-bottom:15px;
        }
	p{
	     color:$db;
	     margin-top:20px;
	}
}

#seven{
	margin-top:130px;
	margin-left:120px;
	margin-bottom:100px;
}
